div.trashtable{
    border-radius: 5px;
    border: 1px;
    border-color: #ddd;
    border-style: groove;
    padding: 15px;
    background-color: #27293D;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}
input{

  height: 20px; 
  margin: 5px 0px;
}
.button {
  border-radius: 5px;
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 100px;
}
.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
.button5:hover {
  background-color: #555555;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: 15px 8px;
  text-align: left;
  border-bottom: 2px solid #ddd;
  font-size: 20px;
}
td {
  padding: 8px;
  text-align: left;
  font-family: 'Roboto';
}
tr{
  height: 55px;
}
tr:hover {background-color: gray;}

.starimg{
  width: 30px;
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}

.button3:hover {
  color: black; 
  border: 2px solid #f44336;
}

.button3 {
  background-color: #f44336;
  color: white;
  width: 80px;
  height: 40px;
}

.button4:hover {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button4 {
  color: black;
  background-color: #e7e7e7;
  width: 80px;
  height: 40px;
}
 
/* .form-group{
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
  display: table-cell;
  width: 490px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 70%;
  background-color:#3fa877;
}

.example-full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
} */


h1{
  background-color: beige;
  color: black;
  padding: 0 5px;
}