<div class="trashtable">
  <h1>Folders Details</h1>
  <form #Form="ngForm"  class="was-validated" >
    <div class="form-group">
      <p><label for="name" style="color: white;">Name</label></p>
      <input type="text" class="form-control form-control-lg" placeholder="Enter Name" name="name" id="name"
        [(ngModel)]="folder.name" required="">
        <div class="invalid-feedback">
          Folder Name is Required
      </div>
    </div>
    <div class="form-group">
      <p><label for="comment" style="color: white;">Comment</label></p>
      <input type="text" class="form-control form-control-lg" placeholder="Enter Comment" name="comment" id="comment"
        [(ngModel)]="folder.comment" required="">
        <div class="invalid-feedback">
          Comments are Required
       </div>
    </div>
    <button type="submit" class="button button5" [disabled]="!folder.name||!folder.comment " (click)="addFolder()">Submit</button><br>
    <div class="row" *ngIf="submitMsg">
      <div class="col-xs-12">
        <p class="alert alert-success">
          <strong>Folder Created</strong>
        </p>
      </div>
    </div>

    <div class="row" *ngIf="updateMsg">
      <div class="col-xs-12">
        <p class="alert alert-success">
          <strong>Folder Name Updated Success!</strong> Please Refresh the page
        </p>
      </div>
    </div>
  </form>

 <br>
  <table>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th>Created Date</th>
      <th>Action</th>
    </tr>
    <tr (click)="pop(folder)" *ngFor="let folder of folders">
      <td>{{ folder.name }}</td>
      <td>{{folder.comment}}</td>
      <td>{{folder.createdDate}}</td>
      <button class="button button4" (click)="updateFolder(folder)">Edit</button>
      <button class="button button3" (click)="deleteFolder(folder.folderId)">Delete</button>
      <button class="" (click)="addfiles(folder)">Add Files</button>
      &nbsp;
      <button (click)="viewfile(folder)">View Files</button>
    </tr>
  </table>
<br><br>
  <section class="users">
    <h1 *ngIf='!isView'>Files Details</h1>
    <table class="table table-striped" *ngIf='!isView'>
      <thead>
        <tr style="color:white;font-size: 20px;">
          <th scope="col">File</th>
          <th scope="col">Name</th>
          <th scope="col">Comments</th>
          <th scope="col">Created Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr style="color: aliceblue;" *ngFor="let fileUpload of fileUploads">
          <ng-container *ngIf="fileUpload.folderId==-1">
            <td style="color: white;"> <img
                src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/folder-green-512.png"
                style="width: 40px; height:40px"></td>
            <td style="color: white;">{{fileUpload.name}}</td>
            <td style="color: white;">{{fileUpload.address}}</td>
            <td style="color: white;">{{fileUpload.createdDate}}</td>
            <td style="color: white;">
              <button (click)="addToFolder(fileUpload)">Add To Folder</button>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
    <br>
    <h1 *ngIf='isView'>{{currentfolderName}}</h1>
    <table class="table table-striped" *ngIf='isView'>
      <thead>
        <tr style="color:white;font-size: 20px;">
          <th scope="col">File</th>
          <th scope="col">Name</th>
          <th scope="col">Comments</th>
          <th scope="col">Created Date</th>
        </tr>
      </thead>
      <tbody>
        <tr style="color: aliceblue;" *ngFor="let fileUpload of fileUploads">
          <ng-container *ngIf="isViewfolderId==fileUpload.folderId">
            <td style="color: white;"> <img
                src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/folder-green-512.png"
                style="width: 40px; height:40px"></td>
            <td style="color: white;">{{fileUpload.name}}</td>
            <td style="color: white;">{{fileUpload.address}}</td>
            <td style="color: white;">{{fileUpload.createdDate}}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </section>