div.trashtable{
    border-radius: 5px;
    border: 1px;
    border-color: #ddd;
    border-style: groove;
    padding: 15px;
    margin-top: 30px;
    background-color: #27293D;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    padding: 15px 8px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    font-size: 20px;
  }
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: 'Roboto';
  }
  tr:hover {background-color: gray;}

  .starimg{
    width: 30px;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
  }

h2{
  background-color: beige;
  color: black;
  padding: 0 5px;
}