<div class="trashtable">
  <h1 style="color:white ;">All Folders</h1>
<table>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th>Created Date</th>
      <th>Created User</th>
      <th>Action</th>
    </tr>
    <tr (click)="pop(folder)" *ngFor="let folder of folders">
      <td>{{ folder.name }}</td>
      <td>{{folder.comment}}</td>
      <td>{{folder.createdDate}}</td>
      <td>{{folder.userEmail}}</td>
      <!-- <button class="button button4" (click)="updateFolder(folder)">Edit</button> -->
      <button class="button button3" (click)="deleteFolder(folder.folderId)">Delete</button>
    </tr>
  </table>
</div>
