<div class="trashtable">
    <table  (click)="pop(notification)" *ngFor="let userinformation of userinformations">
            <tr>Employee Id :{{ userinformation.empId }}</tr>
            <tr>First Name : {{ userinformation.firstName }}</tr>
            <tr>Last Name : {{ userinformation.lastName }}</tr>
            <tr>Address : {{ userinformation.address }}</tr>
            <tr>City : {{ userinformation.city }}</tr>
            <tr>Job Position : {{ userinformation.jobPosition }}</tr>
            <tr>Telephone Number : {{userinformation.telephoneNo}}</tr>
            <tr>User Email : {{userinformation.userEmail}}</tr>
            <button (click)="approveUser(userinformation)">Approve</button>
            <!-- <button class="button button4" (click)="updateNotification(notification)">Edit</button>
            <button class="button button3" (click)="deleteNotification(notification.id)">Delete</button> -->
    </table>
</div>
