<div class="trashtable">
  <form #Form="ngForm"  class="was-validated">
    <div class="form-group">
      <p><label for="pwd" style="color: white;">Employee Id</label></p>
      <input type="text" class="form-control form-control-lg" placeholder="Enter Description" name="empId"
        [(ngModel)]="userinformation.empId" required="">
      <div class="invalid-feedback">
        Employee Id is Required
      </div>
    </div>

    <div class="form-group">
      <p><label for="pwd" style="color: white;">First Name</label></p>
      <input type="text" class="form-control form-control-lg" placeholder="Enter Description" name="firstName"
        [(ngModel)]="userinformation.firstName" required="">
      <div class="invalid-feedback">
        First Name is Required
      </div>
    </div>
    <div class="form-group">
      <p><label for="pwd" style="color: white;">Last Name</label></p>
      <input type="text" class="form-control form-control-lg" placeholder="Enter Description" name="lastName"
        [(ngModel)]="userinformation.lastName" required="">
        <div class="invalid-feedback">
          Last Name is Required
        </div>

    </div>
    <div class="form-group">
      <p><label for="pwd" style="color: white;">Address</label></p>
      <input type="text" class="form-control form-control-lg" placeholder="Enter Description" name="address"
        [(ngModel)]="userinformation.address" required="">
        <div class="invalid-feedback">
          Address is Required
        </div>
    </div>
    <div class="form-group">
      <p><label for="pwd" style="color: white;">City</label></p>
      <input type="text" class="form-control form-control-lg" placeholder="Enter Description" name="city"
        [(ngModel)]="userinformation.city" required="">
        <div class="invalid-feedback">
          City is Required
        </div>
    </div>
    <div class="form-group">
      <p><label for="pwd" style="color: white;">Job Position</label></p>
      <input type="text" class="form-control form-control-lg" placeholder="Enter Description" name="jobPosition"
        [(ngModel)]="userinformation.jobPosition" required="">
        <div class="invalid-feedback">
          Job Position is Required
        </div>
    </div>
    <div class="form-group">
      <p><label for="pwd" style="color: white;">Telephone Number</label></p>
      <input type="text" class="form-control form-control-lg" placeholder="Enter Description" name="telephoneNo"
        [(ngModel)]="userinformation.telephoneNo" required="">
        <div class="invalid-feedback">
          Telephone Number is Required
        </div>
    </div>
    <button type="submit" class="button button5" (click)="addUser()">Register</button><br> 
    <div class="row" *ngIf="registerationSuccess">
      <div class="col-xs-12">
        <p class="alert alert-success">
          <strong>Registration is Success Admin will Approve You Please Wait</strong>
        </p>
      </div>
    </div>
  </form>
</div>

<!-- <table>
        <tr>
          <th>Notifications</th>
        </tr>
        <tr (click)="pop(notification)" *ngFor="let userinformation of userinformations">
          <td>{{ notification.message }}</td>
          <button class="button button4" (click)="updateNotification(notification)">Edit</button>
          <button class="button button3" (click)="deleteNotification(notification.id)">Delete</button>
        </tr>
      </table>
    </div> -->