<div class="trashtable">
    <form #Form="ngForm" (ngSubmit)="addUser()">
      <div class="form-group">
        <p><label for="pwd" style="color: white;">Employee Id</label></p>
        <input type="text" class="form-control form-control-lg" placeholder="Enter Description" name="empId"  
        [(ngModel)]="userinformation.empId">
      </div>
      <div class="form-group">
        <p><label for="pwd" style="color: white;">First Name</label></p>
        <input type="text" class="form-control form-control-lg" placeholder="Enter Description" name="firstName"  
        [(ngModel)]="userinformation.firstName">
      </div>
      <div class="form-group">
        <p><label for="pwd" style="color: white;">Last Name</label></p>
        <input type="text" class="form-control form-control-lg" placeholder="Enter Description" name="lastName"  
        [(ngModel)]="userinformation.lastName">
      </div>
      <div class="form-group">
        <p><label for="pwd" style="color: white;">Address</label></p>
        <input type="text" class="form-control form-control-lg" placeholder="Enter Description" name="address"  
        [(ngModel)]="userinformation.address">
      </div>
      <div class="form-group">
        <p><label for="pwd" style="color: white;">City</label></p>
        <input type="text" class="form-control form-control-lg" placeholder="Enter Description" name="city"  
        [(ngModel)]="userinformation.city">
      </div>
      <div class="form-group">
        <p><label for="pwd" style="color: white;">Job Position</label></p>
        <input type="text" class="form-control form-control-lg" placeholder="Enter Description" name="jobPosition"  
        [(ngModel)]="userinformation.jobPosition">
      </div>
      <div class="form-group">
        <p><label for="pwd" style="color: white;">Telephone Number</label></p>
        <input type="text" class="form-control form-control-lg" placeholder="Enter Description" name="telephoneNo"  
        [(ngModel)]="userinformation.telephoneNo">
      </div>
      <button type="submit" class="button button5">Submit</button><br>
      <!-- <div class="row"  *ngIf="submitMsg">
        <div class="col-xs-12">
          <p class="alert alert-success" >
              <strong>Notification sent Success!</strong>
          </p>
        </div>
      </div>

      <div class="row"  *ngIf="updateMsg">
        <div class="col-xs-12">
          <p class="alert alert-success" >
              <strong>Notification Updated Success!</strong> Please Refresh the page
          </p>
        </div>
      </div> -->
    </form>

    <table>
        <tr>
          <th>Notifications</th>
        </tr>
        <tr (click)="pop(notification)"  *ngFor="let userinformation of userinformations">
            <td  >{{ notification.message }}</td>
            <button class="button button4" (click)="updateNotification(notification)">Edit</button>
            <button class="button button3" (click)="deleteNotification(notification.id)">Delete</button>
        </tr>
    </table>
  </div>

