<div class="trashtable">
    <table>
        <tr>
            <th>Employee Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Job Position</th>
            <th>Telephone Number</th>
            <th>User Email</th>
        </tr>
        <tr (click)="pop(userinformation)" *ngFor="let userinformation of userinformations">
            <td>{{ userinformation.empId }}</td>
            <td>{{ userinformation.firstName }}</td>
            <td>{{ userinformation.lastName }}</td>
            <td>{{ userinformation.address }}</td>
            <td>{{ userinformation.city }}</td>
            <td>{{ userinformation.jobPosition }}</td>
            <td>{{userinformation.telephoneNo}}</td>
            <td>{{userinformation.userEmail}}</td>
            <td>
                <button (click)="approveUser(userinformation)">{{userinformation.userAccepted?" User Accepted":"User Cancelled"}}</button>
            </td>
            <!-- <button class="button button4" (click)="updateNotification(notification)">Edit</button>
            <button class="button button3" (click)="deleteNotification(notification.id)">Delete</button> -->
        </tr>
    </table>
</div>