div.trashtable{
    border-radius: 5px;
    border: 1px;
    border-color: #ddd;
    border-style: groove;
    padding: 15px;
    margin-top: 30px;
    background-color: #27293D;
    width: 800px;
}
input{
  width:770px;
  height: 20px; 
  margin: 5px 0px;
}
.button {
  border-radius: 5px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 100px;
}
.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
.button5:hover {
  background-color: #555555;
  color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    padding: 15px 8px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    font-size: 20px;
  }
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: 'Roboto';
  }
  tr:hover {background-color: gray;}

  .starimg{
    width: 30px;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
  }