<div class="trashtable">
    <form #Form="ngForm" (ngSubmit)="addIssue()">
      <!-- <div class="form-group">
        <p><label for="email" style="color: white;">UserId</label></p>
        <input type="text" class="form-control form-control-lg" placeholder="Enter UserId" name="UserId" [(ngModel)]="issue.id">
      </div> -->
      <div class="form-group">
        <p><label for="pwd" style="color: white;">Description</label></p>
        <input type="text" class="form-control form-control-lg" placeholder="Enter Description" name="Description"  [(ngModel)]="issue.description">
      </div>
      <div class="form-group">
        <p><label for="pwd" style="color: white;">Created Date</label></p>
        <input type="date" date class="form-control form-control-lg" placeholder="Enter Created Date" name="CreatedDate" 
        [(ngModel)]="issue.createdDate">
      </div>
      <button type="submit" class="button button5">Submit</button><br>
    </form>

    <table>
        <tr>
          <th>Description</th>
          <th>Create Date</th>
        </tr>
        <tr (click)="pop(issue)" *ngFor="let issue of issues">
            <td>{{ issue.description }}</td>
            <td>{{ issue.createdDate }}</td> 
            <button class="button button4" (click)="updateIssue(issue)">Edit</button>&nbsp; &nbsp;
            <button class="button button3" (click)="deleteIssue(issue.issueId)">Delete</button>
         </tr>
    </table>
  </div>
  
  
