<div class="trashtable">
  <h1 style="color:white ;">Issues</h1>
    <form #Form="ngForm" (ngSubmit)="addIssue()">
      <!-- <div class="form-group">
        <p><label for="email" style="color: white;">UserId</label></p>
        <input type="text" class="form-control form-control-lg" placeholder="Enter UserId" name="UserId" [(ngModel)]="issue.id">
      </div> -->
      
      <div class="form-group" class="was-validated">
        <input type="text" class="form-control form-control-lg" placeholder="Enter Issue" name="Description"  
        [(ngModel)]="issue.description" required="">
        <div class="invalid-feedback">
          Please Enter Issue
      </div><br>
      </div>
      <button type="submit" class="button button5" [disabled]="!issue.description">Submit</button><br>
    </form>

    <table>
        <tr>
          <th>Description</th>
          <th>Create Date</th>
        </tr>
        <tr (click)="pop(issue)" *ngFor="let issue of issues">
            <td>{{ issue.description }}</td>
            <td>{{ issue.createdDate }}</td> 
            <button class="button button4" (click)="updateIssue(issue)">Edit</button>&nbsp; &nbsp;
            <button class="button button3" (click)="deleteIssue(issue.issueId)">Delete</button>
         </tr>
    </table>
  </div>
  
  
