.create{
    width: 1000px;
    border: 1px solid rgb(206, 195, 195);;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 1px 1px 1px gray;
  }
  
  article section h1{
    text-align: center;
  }
  section{
    margin: 0 auto !important;
  }
  
  /* .users{
    width: 900px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 1px 1px 1px gray;
    background-color: black;
    color: aliceblue;
  } */
  
  .photos {
    margin-top: 20px;
  }
  .photo {
    margin-bottom: 5px;
  }
  div.trashtable{
    border-radius: 5px;
    border: 1px;
    border-color: #ddd;
    border-style: groove;
    padding: 15px;
    background-color: #27293D;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  }
  h2,h1{
    color: aliceblue;
  }
  .mb-3{
    color: aliceblue;
  }
  .alert-danger{
    background-color:cadetblue;
  }
  .alert-danger{
    color:hotpink;
  }
  td{
    width: 200px;
  }
  
  